header {
	width: 100%;
	height: 50px;
	padding: 15px 0;
	position: fixed;
	z-index: 995;
	background-color: #000;
}
header ul li a {
	display: block;
	width: 100%;
	height: 100%;
}
header .content .searh-i {
	width: 20px;
	float: left;
}
header .content .logo {
	width: 100px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}
header .content .menu-i {
	width: 17px;
	float: right;
}
header nav {
	width: 100%;
	height: 100vh;
	position: fixed;
	z-index: 999;
	top: 0;
	right: -600px;
  	background-color: #000000eb;
  	transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
header nav .menu-list {
	width: 100%;
}
header nav .menu-list li {
	width: 100%;
	height: 50px;
	line-height: 50px;
	color: #fff;
	background-color: #313131;
	font-family: 'NotoSansCJKkr-Regular','serif';
}
header nav .menu-list li:nth-child(1n+3) {
	box-shadow: inset 0 3px 6px 0 rgba(0, 0, 0, 0.3);
}
header nav .menu-list .list-wrap {
	width: 246px;
	margin: 0 auto;
	position: relative;
}
header nav .menu-list .list-wrap img {
	width: 8px;
	float: right;
	padding-top: 18px;
}
header nav .menu-list .menu-title {
	position: relative;
	background-color: #000;
}
header nav .menu-list .menu-title span {
	color: #ffffff;
	opacity: 0.4;
}
header nav .menu-list .menu-title .close-i{
	width: 20px;
	position: absolute;
	top: 50%;
	right: -10%;
	transform: translateY(-50%);
	padding-top: 0;
}
header .searh-i-wrap {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: -600px;
	z-index: 999;
	background-color: #000000eb;
	transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
header .searh-i-wrap .searh-list {
	width: 100%;
	height: auto;
	padding-bottom: 2%;
	background-color: #fff;
}
header .searh-i-wrap .searh-list .top-wrap {
	width: 100%;
	height: 50px;
	background-color: #151313;
}
header .searh-i-wrap .searh-list .contnet {
	width: 88%;
	margin: 0 auto;
	padding: 15px 0;
	position: relative;
}
header .searh-i-wrap .searh-list .contnet button {
	float: left;
	background-color: transparent;
}
header .searh-i-wrap .searh-list .contnet button .searh-i {
	width: 20px;
}
header .searh-i-wrap .searh-list .contnet input {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
	width: 240px;
	height: 19px;
	color: #ffffff;
	border: 0;
	font-family: 'NotoSansCJKkr-Regular','serif';
	background-color: transparent;
}
header .searh-i-wrap .searh-list .contnet .close-i {
	width: 20px;
	float: right;
}
header .searh-i-wrap .searh-list li {
	width: 240px;
	height: 19px;
	margin: 0 auto;
	margin-bottom: 20px;
	line-height: 19px;
	font-family: 'NotoSansCJKkr-Regular','serif';
	background-color: transparent;
}
header .searh-i-wrap .searh-list li:last-child {
	margin-bottom: 30px;
}
header .searh-i-wrap .searh-list .link {
	margin-top: 20px;
	color: #7979797a;
}
/* searh-list active Ŭ������*/
nav.active {
	right: 0;
}
header .searh-i-wrap.active {
	left: 0;
}